/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

/* Cabeçalho */
.header {
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
  }
  
  header .logo {
    font-family: 'Inter';
    color: #d48fd4;
    font-size: 24px;
    font-weight: bold;
  }
  
  header nav {
    display: flex;
    align-items: center;
  }
  
  header nav a {
    text-decoration: none;
    color: #555;
    margin-right: 20px;
    font-size: 16px;
  }
  
  header nav .profile {
    display: flex;
    align-items: center;
  }
  
  header nav .profile img {
    border-radius: 50%;
    margin-right: 8px;
  }

/* Conteúdo principal */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
}

.report-card {
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.report-card h2 {
    margin-bottom: 20px;
    font-size: 1.2em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #eaeaea;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

td a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}
